@tailwind base;
@tailwind components;
@tailwind utilities;






/* ========================================== */
/* FONTS  */

@font-face {
  font-family: "bickubik";
  src: url(./assets/font/bicubik.otf);
}

@font-face {
  font-family: "mokoto";
  src: url(./assets/font/mokoto.ttf);
}

@font-face {
  font-family: "futura";
  src: url(./assets/font/futuraMedium.ttf);
}






/* ============================================= */
/* USABLE FONT CLASSES */

.font-bickubik{
  font-family: "bickubik";
}

.font-mokoto{
  font-family: "mokoto";
  
}

.font-futura{
  font-family: "futura";
}







/* NAVBAR */
.navbar{

  position: fixed;

  width: 100%;
  max-width: 1920px;

  background-color: #F7F7F7;
  
  height: 3rem;

  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  z-index: +10;
}






/* HERO SECTION RESPONSIVE */

@media (max-width:350px) {

  .heroMainTecAndAro{
    font-size: 3rem;
  }

  .heroMainX{
    font-size: 6rem;
  }

  .heroMainPracticalTechnicalLearning{
    font-size: 0.7rem;
  }
}



/* THE ABOUT US SECTION STARTS */
#aboutUsPictures{

  width: ;
}

.aboutUsSectionText{
  width: 100%;
  max-width: 40rem;
}